@page
@model Academia.Pages.Clientes.EditModel

@{
    ViewData["Title"] = "Editar";
}

<partial name="_Breadcrumbs" />

<div class="container py-5">
    <h4>CLIENTE</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Cliente.Matricula" class="control-label"></label>
                    <input asp-for="Cliente.Matricula" class="form-control" />
                    <span asp-validation-for="Cliente.Matricula" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Nome" class="control-label"></label>
                    <input asp-for="Cliente.Nome" class="form-control" />
                    <span asp-validation-for="Cliente.Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Sobrenome" class="control-label"></label>
                    <input asp-for="Cliente.Sobrenome" class="form-control" />
                    <span asp-validation-for="Cliente.Sobrenome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Email" class="control-label"></label>
                    <input asp-for="Cliente.Email" class="form-control" />
                    <span asp-validation-for="Cliente.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Telefone" class="control-label"></label>
                    <input asp-for="Cliente.Telefone" class="form-control" />
                    <span asp-validation-for="Cliente.Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Personal.Nome" class="control-label">Personal Trainner</label>
                    <select asp-for="Cliente.PersonalId" class="form-control" asp-items="ViewBag.PersonalId"></select>
                    <span asp-validation-for="Cliente.PersonalId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.FormaPagamento.Nome" class="control-label">Forma de Pagamento</label>
                    <select asp-for="Cliente.FormaPagamentoId" class="form-control" asp-items="ViewBag.FormaPagamentoId"></select>
                    <span asp-validation-for="Cliente.FormaPagamentoId" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Cliente.Id" />
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="./Index">Voltar para a lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
