<div class="container-fluid position-relative testimonial my-5">
    <div class="container">
        <div class="row px-3 align-items-center">
            <div class="col-md-6 bg-secondary">
                <div class="d-flex align-items-center px-3" style="min-height: 450px;">
                    <div id="carouselId" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselId" data-slide-to="1"></li>
                            <li data-target="#carouselId" data-slide-to="2"></li>
                            <li data-target="#carouselId" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="d-flex align-items-center mb-4 text-white">
                                    <img width="80" height="80" class="rounded-circle bg-dark p-2" src="img/usuario-homem.png" alt="Image">
                                    <div class="pl-4">
                                        <h4 class="text-primary">Kilbow Craft</h4>
                                    </div>
                                </div>
                                <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                    Excelente academia, professores atenciosos, equipamentos bons. Bom espaço, arejada. Super recomendada.
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex align-items-center mb-4 text-white">
                                    <img width="80" height="80" class="rounded-circle bg-dark p-2" src="img/usuario-mulher.png" alt="Image">
                                    <div class="pl-4">
                                        <h4 class="text-primary">Daiane Duarte</h4>
                                    </div>
                                </div>
                                <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                    Estou amando a experiência.
                                    <br />
                                    Atendimento espetacular (recepção e acompanhamento) dos treinos.
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex align-items-center mb-4 text-white">
                                    <img width="80" height="80" class="rounded-circle bg-dark p-2" src="img/usuario-homem.png" alt="Image">
                                    <div class="pl-4">
                                        <h4 class="text-primary">Ronaldo Junior</h4>
                                    </div>
                                </div>
                                <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                    Excelente local para treinar, professor super top.
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex align-items-center mb-4 text-white">
                                    <img width="80" height="80" class="rounded-circle bg-dark p-2" src="img/usuario-homem.png" alt="Image">
                                    <div class="pl-4">
                                        <h4 class="text-primary">Diogo Alves</h4>
                                    </div>
                                </div>
                                <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                    A melhor academia do Wanel e região. 
                                    <br />
                                    Ótimo atendimento!!!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pl-md-3 d-none d-md-block">
                    <h4 class="text-primary">Confira</h4>
                    <h4 class="display-4 mb-4 text-white font-weight-bold">Nossas avaliações</h4>
                </div>
            </div>
        </div>
    </div>
</div>