<div class="container feature pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Por que fazer academia?</h4>
        <h4 class="display-4 font-weight-bold">Benefícios em fazer exercícios</h4>
    </div>
    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="img/feature-1.jpg" alt="Image">
                    <i class="flaticon-barbell"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Saúde</h4>
                    <p>Exercícios regulares melhoram saúde cardiovascular, força muscular, controle de peso, reduzem estresse e ansiedade, promovendo bem-estar emocional e equilíbrio geral.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="img/feature-2.jpg" alt="Image">
                    <i class="flaticon-training"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Durma melhor</h4>
                    <p>Noites de sono revigorantes, energia, alívio das dores, saúde ideal e qualidade de vida. Nós sabemos como ajudar.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="img/feature-3.jpg" alt="Image">
                    <i class="flaticon-trends"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Físico definido</h4>
                    <p>Tenha músculos definidos, elogios dos amigos e um visual incrível neste verão! Nós temos a estratégia perfeita para ajudá-lo a alcançar seus objetivos de forma eficaz.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="img/feature-4.jpg" alt="Image">
                    <i class="flaticon-support"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Evite doenças</h4>
                    <p>Academia previne doenças como doenças cardíacas, diabetes, obesidade e osteoporose, com saúde cardiovascular, controle de peso e fortalecimento muscular.</p>
                </div>
            </div>
        </div>
    </div>
</div>