<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-yellow text-uppercase font-weight-bold">@ViewData["Title"]</h4>
        <div class="d-inline-flex">
            <!--<p class="m-0 text-white"><a class="text-white" asp-area="" asp-page="/Index">Home</a></p> -->
            <!-- <p class="m-0 text-white px-2">/</p> -->
            <!-- <p class="m-0 text-white">@ViewData["Title"]</p> -->
            <p class="m-0 text-white"> Sistema de Gerenciamento de Academias </p>
       </div>
    </div>
</div>