<div class="footer container-fluid mt-5 py-5 px-sm-3 px-md-5 text-white">
    <div class="row pt-5">
        <div class="col-lg-4 col-md-6 mb-5">
            <h4 class="text-primary mb-4">Entre em contato</h4>
            <a class="text-white" target=”_blank” href="https://goo.gl/maps/YdrocNUPv4sLwsE17">
                <p>
                    <i class="fa fa-map-marker-alt mr-2"></i>Avenida Paulo Emanuel de Almeida, nº 791
                    <br />
                    Primeiro andar
                    <br />
                    Sorocaba - SP
                </p>
            </a>
            <p><i class="fa fa-phone-alt mr-2"></i>015 99764-9016</p>
            <p><i class="fa fa-envelope mr-2"></i>apumpfit@gmail.com</p>
            <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" target=”_blank” href="https://www.facebook.com/academia.pumpfit/"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" target=”_blank” href="https://www.instagram.com/pumpfit.academia/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h4 class="text-primary mb-4">Links Rápidos</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" href="https://bit.ly/pumpfitacademia"><i class="fa fa-angle-right mr-2"></i>Home</a>
@*                 <a class="text-white mb-2" asp-area="" asp-page="/Sobre"><i class="fa fa-angle-right mr-2"></i>Sobre Nós</a>
                <a class="text-white mb-2" asp-area="" asp-page="/Espaco"><i class="fa fa-angle-right mr-2"></i>Espaço</a>
                <a class="text-white" asp-area="" asp-page="/Localizacao"><i class="fa fa-angle-right mr-2"></i>Localização</a> *@
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h4 class="text-primary mb-4">Horário de Funcionamento</h4>
            <h5 class="text-white">Segunda - Sexta</h5>
            <p>
                6:00 - 12:00 (Manhã)
                <br />
                15:00 - 22:00 (Tarde)
            </p>
            <h5 class="text-white">Sábado</h5>
            <p>8:00 - 12:00</p>
        </div>
    </div>
    <div class="container border-top border-dark pt-5">
        <p class="m-0 text-center text-white">
            &copy; <b class="text-white font-weight-bold">Pump Fit</b>. Todos os direitos reservados. Desenvolvido por
            <a class="text-white font-weight-bold" target=”_blank” href="mailto:grupo4univesp@gmail.com">Grupo 4</a>
        </p>
    </div>
</div>