<div class="container gym-feature py-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Horários das</h4>
        <h4 class="display-4 font-weight-bold">Atividades</h4>
    </div>
    <div class="tab-class">
        <ul class="nav nav-pills justify-content-center mb-4">
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#class-all">Todas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#class-cardio">Cardio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#class-crossfit">Crossfit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#class-powerlifting">Musculação</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="class-all" class="container tab-pane p-0 active">
                <div class="table-responsive">
                    <table class="table table-bordered table-lg m-0">
                        <thead class="bg-secondary text-white text-center">
                            <tr>
                                <th>Horário</th>
                                <th>Segunda</th>
                                <th>Terça</th>
                                <th>Quarta</th>
                                <th>Quinta</th>
                                <th>Sexta</th>
                                <th>Sábado</th>
                                <th>Domingo</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th class="bg-secondary text-white align-middle">6.00am - 8.00am</th>
                                <td><h5>Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td><h5>Crossfit</h5>Instrutor 2</td>
                                <td></td>
                                <td><h5>Musculação</h5>Instrutor 3</td>
                                <td></td>
                                <td><h5>Cardio</h5>Instrutor 1</td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white align-middle">10.00am - 12.00am</th>
                                <td></td>
                                <td><h5>Musculação</h5>Instrutor 3</td>
                                <td></td>
                                <td><h5>Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td><h5>Crossfit</h5>Instrutor 2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white align-middle">5.00pm - 7.00pm</th>
                                <td><h5>Crossfit</h5>Instrutor 2</td>
                                <td></td>
                                <td><h5>Musculação</h5>Instrutor 3</td>
                                <td></td>
                                <td><h5>Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td><h5>Crossfit</h5>Instrutor 2</td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white align-middle">7.00pm - 9.00pm</th>
                                <td></td>
                                <td><h5>Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td><h5>Crossfit</h5>Instrutor 2</td>
                                <td></td>
                                <td><h5>Musculação</h5>Instrutor 3</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="class-cardio" class="container tab-pane fade p-0">
                <div class="table-responsive">
                    <table class="table table-bordered table-lg m-0">
                        <thead class="bg-secondary text-white text-center">
                            <tr>
                                <th>Horário</th>
                                <th>Segunda</th>
                                <th>Terça</th>
                                <th>Quarta</th>
                                <th>Quinta</th>
                                <th>Sexta</th>
                                <th>Sábado</th>
                                <th>Domingo</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th class="bg-secondary text-white align-middle">6.00am - 8.00am</th>
                                <td class="bg-primary text-white"><h5 class="text-white">Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td><h5>Crossfit</h5>Instrutor 2</td>
                                <td></td>
                                <td><h5>Musculação</h5>Instrutor 3</td>
                                <td></td>
                                <td class="bg-primary text-white"><h5 class="text-white">Cardio</h5>Instrutor 1</td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white align-middle">10.00am - 12.00am</th>
                                <td></td>
                                <td><h5>Musculação</h5>Instrutor 3</td>
                                <td></td>
                                <td class="bg-primary text-white"><h5 class="text-white">Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td><h5>Crossfit</h5>Instrutor 2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white align-middle">5.00pm - 7.00pm</th>
                                <td><h5>Crossfit</h5>Instrutor 2</td>
                                <td></td>
                                <td><h5>Musculação</h5>Instrutor 3</td>
                                <td></td>
                                <td class="bg-primary text-white"><h5 class="text-white">Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td><h5>Crossfit</h5>Instrutor 2</td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white align-middle">7.00pm - 9.00pm</th>
                                <td></td>
                                <td class="bg-primary text-white"><h5 class="text-white">Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td><h5>Crossfit</h5>Instrutor 2</td>
                                <td></td>
                                <td><h5>Musculação</h5>Instrutor 3</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="class-crossfit" class="container tab-pane fade p-0">
                <div class="table-responsive">
                    <table class="table table-bordered table-lg m-0">
                        <thead class="bg-secondary text-white text-center">
                            <tr>
                                <th>Horário</th>
                                <th>Segunda</th>
                                <th>Terça</th>
                                <th>Quarta</th>
                                <th>Quinta</th>
                                <th>Sexta</th>
                                <th>Sábado</th>
                                <th>Domingo</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th class="bg-secondary text-white align-middle">6.00am - 8.00am</th>
                                <td><h5>Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td class="bg-primary text-white"><h5 class="text-white">Crossfit</h5>Instrutor 2</td>
                                <td></td>
                                <td><h5>Musculação</h5>Instrutor 3</td>
                                <td></td>
                                <td><h5>Cardio</h5>Instrutor 1</td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white align-middle">10.00am - 12.00am</th>
                                <td></td>
                                <td><h5>Musculação</h5>Instrutor 3</td>
                                <td></td>
                                <td><h5>Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td class="bg-primary text-white"><h5 class="text-white">Crossfit</h5>Instrutor 2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white align-middle">5.00pm - 7.00pm</th>
                                <td class="bg-primary text-white"><h5 class="text-white">Crossfit</h5>Instrutor 2</td>
                                <td></td>
                                <td><h5>Musculação</h5>Instrutor 3</td>
                                <td></td>
                                <td><h5>Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td class="bg-primary text-white"><h5 class="text-white">Crossfit</h5>Instrutor 2</td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white align-middle">7.00pm - 9.00pm</th>
                                <td></td>
                                <td><h5>Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td class="bg-primary text-white"><h5 class="text-white">Crossfit</h5>Instrutor 2</td>
                                <td></td>
                                <td><h5>Musculação</h5>Instrutor 3</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="class-powerlifting" class="container tab-pane fade p-0">
                <div class="table-responsive">
                    <table class="table table-bordered table-lg m-0">
                        <thead class="bg-secondary text-white text-center">
                            <tr>
                                <th>Horário</th>
                                <th>Segunda</th>
                                <th>Terça</th>
                                <th>Quarta</th>
                                <th>Quinta</th>
                                <th>Sexta</th>
                                <th>Sábado</th>
                                <th>Domingo</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th class="bg-secondary text-white align-middle">6.00am - 8.00am</th>
                                <td><h5>Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td><h5>Crossfit</h5>Instrutor 2</td>
                                <td></td>
                                <td class="bg-primary text-white"><h5 class="text-white">Musculação</h5>Instrutor 3</td>
                                <td></td>
                                <td><h5>Cardio</h5>Instrutor 1</td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white align-middle">10.00am - 12.00am</th>
                                <td></td>
                                <td class="bg-primary text-white"><h5 class="text-white">Musculação</h5>Instrutor 3</td>
                                <td></td>
                                <td><h5>Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td><h5>Crossfit</h5>Instrutor 2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white align-middle">5.00pm - 7.00pm</th>
                                <td><h5>Crossfit</h5>Instrutor 2</td>
                                <td></td>
                                <td class="bg-primary text-white"><h5 class="text-white">Musculação</h5>Instrutor 3</td>
                                <td></td>
                                <td><h5>Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td><h5>Crossfit</h5>Instrutor 2</td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white align-middle">7.00pm - 9.00pm</th>
                                <td></td>
                                <td><h5>Cardio</h5>Instrutor 1</td>
                                <td></td>
                                <td><h5>Crossfit</h5>Instrutor 2</td>
                                <td></td>
                                <td class="bg-primary text-white"><h5 class="text-white">Musculação</h5>Instrutor 3</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>