<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pump Fit Academia - @ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/flaticon/font/flaticon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/googlemaps.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" asp-append-version="true" />

    <style>
        body {
            background-color: black;
        }
    </style>
</head>

<body>

    <!-- Menu -->
    <partial name="_Menu" />

    <!-- Renderizacão do corpo da página -->
    @RenderBody()

    <!-- Rodapé -->
    <partial name="_Footer" />

    <!-- Voltar para o Topo -->
    <partial name="_BackToTop" />

    <!-- Scripts -->
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-easing/jquery.easing.min.js" asp-append-version="true"></script>
    <script src="~/lib/waypoints/lib/jquery.waypoints.min.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>