@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-item nav-link" asp-area="" asp-page="/Clientes/Index">Clientes</a>
    <a class="nav-item nav-link" asp-area="" asp-page="/Treinos/Index">Treinos</a>
    <a class="nav-item nav-link" asp-area="" asp-page="/Personais/Index">Personais</a>
    <a class="nav-item nav-link" asp-area="" asp-page="/FormasPagamento/Index">Formas de Pagamento</a>
    <a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Editar Perfil</a>
    <a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" title="Manage">Sair</a>
}
else
{
    <a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
    <a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
