<div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a href="https://bit.ly/pumpfitacademia" class="navbar-brand">
            <h1 class="m-0 display-4 font-weight-bold text-uppercase text-yellow">Pump Fit</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4 bg-transparent">
                <!-- <a class="nav-item nav-link" asp-area="" asp-page="/Index">Home</a> -->
                <!-- <a class="nav-item nav-link" asp-area="" asp-page="/Sobre">Sobre Nós</a> -->
                <!-- <a class="nav-item nav-link" asp-area="" asp-page="/Espaco">Espaço</a> -->
                <!-- <a class="nav-item nav-link" asp-area="" asp-page="/Localizacao">Localização</a> -->
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</div>