<div class="container gym-class mb-5">
    <div class="row px-3">
        <div class="col-md-6 p-0">
            <div class="gym-class-box d-flex flex-column align-items-end justify-content-center bg-primary text-right text-white py-5 px-5">
                <i class="flaticon-six-pack"></i>
                <h3 class="display-4 mb-3 text-white font-weight-bold">Gympass</h3>
                <p>
                    O Gympass é uma assinatura completa que oferece a maior rede de academias, estúdios e aplicativos de bem-estar.
                </p>
                <a target=”_blank” href="https://www.gympass.com/negocios/academia-pump-fit-parque-esmeralda-sorocaba" class="btn btn-lg btn-outline-light mt-4 px-4">Detalhes</a>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="gym-class-box d-flex flex-column align-items-start justify-content-center bg-secondary text-left text-white py-5 px-5">
                <i class="flaticon-bodybuilding"></i>
                <h3 class="display-4 mb-3 text-white font-weight-bold">TotalPass</h3>
                <p>
                    Com a TotalPass, você tem liberdade de escolha. Você decide quando e onde treinar em milhares de academias e estúdios de qualidade.
                </p>
                <a target=”_blank” href="https://totalpass.com/br/academias/pump-fit/" class="btn btn-lg btn-outline-light mt-4 px-4">Detalhes</a>
            </div>
        </div>
    </div>
</div>