@page
@model Academia.Pages.FormasPagamento.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<partial name="_Breadcrumbs" />

<div class="container py-5">
    <h4>FORMA DE PAGAMENTO</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormaPagamento.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormaPagamento.Nome)
        </dd>
    </dl>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.FormaPagamento.Id">Editar</a> |
        <a asp-page="./Index">Voltar para a lista</a>
    </div>
</div>
