@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de reset de senha";
}

<partial name="_Breadcrumbs" />

<p>
    Por favor, verifique seu email para dar continuidade ao Reset de Senha.
</p>
