@page
@model LogoutModel
@{
    ViewData["Title"] = "Sair";
}

<partial name="_Breadcrumbs" />
<div class="container pt-5">
    <div class="row">
        <div class="col-md-3 pb-5">
            <div class="contact-form">
                @{
                    if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <h2>Sair do sistema.</h2>
                        <hr />
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Clique aqui para sair</button>
                        </form>
                    }
                    else
                    {
                        <p>Você saiu.</p>
                    }
                }
            </div>
        </div>
    </div>
</div>
