@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de registro";
}

<partial name="_Breadcrumbs" />

<p>
    Foi enviado um email com a confirmação de criação da conta. Por favor, verifique o email.
</p>
