@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar";
}

<partial name="_Breadcrumbs" />

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6 pb-5">
            <div class="contact-form">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Crie sua conta.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="help-block text-danger"></div>
                    <div class="control-group">
                        <label asp-for="Input.Email" class="text-white"></label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="help-block text-danger"></span>
                    </div>
                    <br />
                    <div class="control-group">
                        <label asp-for="Input.Password" class="text-white"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />                        
                        <span asp-validation-for="Input.Password" class="help-block text-danger"></span>
                    </div>
                    <br />
                    <div class="control-group">
                        <label asp-for="Input.ConfirmPassword" class="text-white"></label>                     
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />                       
                        <span asp-validation-for="Input.ConfirmPassword" class="help-block text-danger"></span>
                    </div>
                    <br />
                    <button id="registerSubmit" type="submit" class="btn btn-outline-primary">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
