@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de reset de senha";
}

<partial name="_Breadcrumbs" />

<p>
    Sua senha foi resetada. Por favor, clique em <a asp-page="./Login">para fazer o login</a>.
</p>
