@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de reset de senha";
}

<partial name="_Breadcrumbs" />

<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
