@page
@model Academia.Pages.EspacoModel
@{
    ViewData["Title"] = "Espaço";
}

<partial name="_Breadcrumbs" />

<!-- Detalhes -->
<div class="container pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Conheça</h4>
        <h4 class="display-4 font-weight-bold">Nosso espaço</h4>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-2 blog-item">
            <img class="img-fluid mb-4" src="img/foto-1.jpeg" alt="Image">
        </div>
        <div class="col-lg-6 mb-2 blog-item">
            <img class="img-fluid mb-4" src="img/foto-2.jpeg" alt="Image">
        </div>
        <div class="col-lg-6 mb-2 blog-item">
            <img class="img-fluid mb-4" src="img/foto-3.jpeg" alt="Image">
        </div>
        <div class="col-lg-6 mb-2 blog-item">
            <img class="img-fluid mb-4" src="img/foto-4.jpeg" alt="Image">
        </div>
        <div class="col-lg-6 mb-2 blog-item">
            <img class="img-fluid mb-4" src="img/foto-5.jpeg" alt="Image">
        </div>
        <div class="col-lg-6 mb-2 blog-item">
            <img class="img-fluid mb-4" src="img/foto-6.jpeg" alt="Image">
        </div>
    </div>
</div>