@page
@model Academia.Pages.LocalizacaoModel
@{
    ViewData["Title"] = "Localização";
}

<h1>@ViewData["Title"]</h1>

<p>Inserir componente da API que vai renderizar o GoogleMaps com o endereço da Academia.</p>
