@page
@model Academia.Pages.SobreModel
@{
    ViewData["Title"] = "Sobre Nós";
}

<partial name="_Breadcrumbs" />

<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="~/img/foto-5.jpeg" alt="Image">
        </div>
        <div class="col-lg-6">
            <h2 class="display-4 font-weight-bold mb-4">3 Anos de Excelência</h2>
            <div class="row py-2">
                <div class="col-sm-6">
                    <i class="flaticon-barbell display-2 text-primary"></i>
                    <h4 class="font-weight-bold">Equipamentos</h4>
                    <p>Aqui você encontrará uma vasta gama de equipamentos novos e bem conservados, para todos os tipos de treinos. Venha desfrutar de um ambiente moderno e seguro para alcançar seus objetivos de forma eficaz!</p>
                </div>
                <div class="col-sm-6">
                    <i class="flaticon-medal display-2 text-primary"></i>
                    <h4 class="font-weight-bold">Experiência</h4>
                    <p>A Pump Fit é uma academia com 3 anos de experiência, oferecendo treinos de qualidade, equipamentos modernos e um ambiente acolhedor. Venha cuidar do seu corpo com a gente!</p>
                </div>
            </div>
        </div>
    </div>
</div>